body{
   
  

}
h1{
    text-align: center;
font-family: Arial, Helvetica, sans-serif;    
color:black;

}
.container{
    background-color: whitesmoke;
    font-family: arial;
    text-align: center;
    font-size: 24px;
    margin: auto;
    margin-top: 10%;
    width: 500px;
    height: 520px;
   ;
  }
  input[type='checkbox']{
    position: relative;
    cursor: pointer;
   height: 10px;
   width: 10px;
   background-color: #eee;
  }
  .container2{
      font-size: small;
  }
